.container {
    max-width: 700px;
  }
  
  .card {
    border-radius: 12px;
  }
  
  input.form-control {
    height: 45px;
    font-size: 16px;
  }
  
  button.btn {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
  }
  