.top-navbar-vertical {
  width: 200px;
  background-color: #f8f9fa;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ccc;
  position: fixed;
  left: 0;
  top: 0;
}

.topbar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top-title {
  font-weight: bold;
  cursor: pointer;
}

.top-logout {
  color: red;
  cursor: pointer;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-links a {
  text-decoration: none;
  color: #333;
}

.sidebar-links a:hover {
  color: #007bff;
}
